html, body {
    height: 100vh; /* 100% of Viewport Height */  
    /*background-image: url("../assets/background.jpg");*/
    background: #4B79A1; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4B79A1 , #283E51); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4B79A1 , #283E51); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Tillana', cursive; 
    font-size: 14px;   
    color: #fff;
}

#content-wrapper {
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;   
    height: 95vh;  
     
    max-height: 1026px; /* FULL HD Height */
}

footer, header {
    height: 2.5vh;
    min-height: 19.2px; /* HD "Ready" Notebook Display 1366x768 */ 
    max-height: 27px; /* FULL HD Height */
}

#left-column, #right-column, #lc-upper-row, #lc-lower-row, #rc-upper-row, #rc-lower-row, #map {
    height: 100%;
    margin: 0;   
}


#left-column, #right-column {
    padding-left: 2.5vh;
    padding-right: 2.5vh;
}

#lc-upper-row, #lc-lower-row, #rc-upper-row, #rc-lower-row {
    height: 43.5vh;    
}


#lc-upper-row, #lc-lower-row, #rc-upper-row, #rc-lower-row {
    border-radius: 25px;
}

#lc-lower-row {
    padding: 10px;    
}

#lc-upper-row {    
    padding: 2.5%;    
}

#cpanel-header, #cpanel-graphs-header {
    height: 35px;
}

#cpanel-map, #cpanel-line {
    height: 70px;    
}

#cpanel-graphs {
    height: 60%;
}

.break {
    height: 2.5vh;
}

.zero-margins {
    margin: 0px;   
}

.black-transparent-background {
    background: rgba(0, 0, 0, 0.35);    
}

.text-center {
    text-align: center;
}



.bottons {
    padding-top: 20px;
    padding-bottom: 20px;
}

.cut-upper-corners {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.cut-lower-corners {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.legend {
    line-height: 20px;
    color: #FFF;
}

.legend i {
    width: 20px;
    height: 20px;    
    float: left;
    margin-right: 10px; 
    opacity: 0.65;  
}

.legend p {
    text-align: center;
}